._top svg{
    fill: var(--text-color);
}

._top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--background-color);
    z-index: 888;
    user-select: none;
}

.title {
    display: flex;
    width: 90%;
    padding: 0 5%;
    justify-content: space-between;
    margin-top: 1.5rem;
    align-items: flex-end;
}

.title p{
    font-size: var(--heading-2-font-size);
    font-weight: 600;
    color: var(--text-color);
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    margin: 0;
    margin-bottom: 1%;
    margin-left: 1rem;
}

.nav {
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0px;
    margin-bottom: 0.5rem;
}

.nav p{
    color: var(--text-sub-color);
    font-size: var(--text-1-font-size);
    margin: 0;
    transition: color 0.3s ease;
}
.nav p[data-active="true"]{
    color: var(--text-color);
}

.container {
    margin-top: 7rem; 
}

.tags {
    width: 95%;
    margin-left: 5%;
    display: flex;
    overflow-x: auto;
    margin-bottom: var(--margin_bottom_2);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    touch-action: pan-x pan-y;
}

.tag {
    background-color: var(--background-sub-color);
    border-radius: var(--border-radius-2);
    margin-right: 0.8rem;
    scroll-snap-align: start;
}

.tag p{
    margin: 0.2rem 0.5rem;
    font-weight: 600;
    color: var(--text-sub-color);
    font-size: var(--text-2-font-size);
    white-space: nowrap; 
}

.relations {
    width: 95%;
    margin-left: 5%;
    display: flex;
    overflow-x: auto;
    margin-bottom: var(--margin_bottom_1);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    touch-action: pan-x pan-y;
}

.relation {
    background-color: var(--background-sub-color);
    border-radius: var(--border-radius-1);
    margin-right: 1rem;
    padding: 0.8rem 5%;
    scroll-snap-align: start;
}

.relation p{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--text-1-font-size);
    margin: 0;
    margin-bottom: 0.3rem;
    width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.relation a{
    color: var(--text-sub-color);
    font-size: var(--text-2-font-size);
    margin: 0;
}

.horizontal_infos_list {
    display: flex;
    overflow-x: auto;
    width: 95%;
    margin-left : 5%;
    scroll-snap-type: x mandatory;;
    scroll-behavior: smooth;
    touch-action: pan-x pan-y;
    margin-bottom: var(--margin_bottom_2);
}

.infos {
    background-color: var(--background-sub-color);
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--border-radius-1);
    margin-bottom: var(--margin_bottom_2);
    margin-right: 1rem;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.info_heading {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: var(--margin_bottom_3);
    margin-left: 5%;
}

.info_heading p{
    margin: 0;
    color: var(--text-color);
    font-size: var(--heading-2-font-size);
    font-weight: 600;
    width: 28%;
}

.info_indexs {
    display: flex;
    max-width: 33%;
    align-items: center;
    justify-content: space-between;
}

.info_indexs div{
    background-color: var(--text-sub-color);
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 0.5rem;
    margin-right: 0.3rem;
    transition: background-color 0.3s ease;
}

.info_indexs .index{
    background-color: var(--text-color);
}

.info_heading svg{
    fill: var(--text-sub-color);
    transition: fill 0.3s ease;
}

.info {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.info p{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--text-1-font-size);
    margin: 0;
    margin-bottom: 0.3rem;
}

.info a{
    display: flex;
    color: var(--text-sub-color);
    font-size: var(--text-2-font-size);
    margin: 0;
    align-items: center;
}

.info b{
    color: var(--text-color);
    font-size: var(--text-3-font-size);
    font-weight: 400;
    background-color: var(--chart-color-1);
    padding: 0rem 0.1rem;
    border-radius: 0.2rem;
    margin-left: 0.1rem;
}

.info c{
    color: var(--text-sub-color);
    font-size: var(--text-3-font-size);
    font-weight: 400;
    margin-right: 0.1rem;
}

.loading_anim {
    display: flex;
    justify-content: center;
}

.chart {
    width: 90%;
    margin: 0 5%;
}

.chart_heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.chart_heading p{
    margin: 0;
    color: var(--text-color);
    font-size: var(--heading-2-font-size);
    font-weight: 600;
}

.chart_switch {
    display: flex;
    align-items: flex-end;
}
.chart_switch svg{
    fill: var(--text-sub-color);
    transition: fill 0.3s ease;
}
.chart_switch svg[data-active="true"]{
    fill: var(--text-color);
}
.chart_switch p{
    color: var(--text-sub-color);
    font-size: var(--heading-2-font-size);
    font-weight: 400;
    margin: 0 1rem;
}

.chart_legends {
    width: 105%;
    display: flex;
    overflow-x: auto;
    margin-bottom: var(--margin_bottom_2);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    touch-action: pan-x pan-y;
    margin-top: 1rem;
}
.chart .top {
    display: flex;
}
.chart .chart_legends .legend{
    display: flex;
    background-color: var(--background-sub-color);
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 0.5rem;
    overflow: hidden;
    min-width: 20%;
    margin-right: 0.8rem;
}
.chart .chart_legends .legend p{
    margin: 0px;
    font-size: var(--text-2-font-size);
    color: var(--text-color);
    font-weight: 600;
}
.chart .chart_legends .top{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}
.chart .chart_legends .top div{
    width: 0.3rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    background-color: var(--chart-color-1);
}
.chart .chart_legends .top p{
    font-size: var(--text-2-font-size);
    margin-left: 0.5rem;
    font-weight: 400;
}
.chart .chart {
    width: 100%;
    height: 60%;
}
.legend.active .top div{
    background-color: var(--background-sub-color);
}
.chart .chart_legends .top .l1{
    width: 0.3rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    background-color: var(--chart-color-1);
}
.chart .chart_legends .top .l2{
    width: 0.3rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    background-color: var(--chart-color-2);
}
.legend.active .top .l1{
    background-color: var(--text-sub-color);
}
.legend.active .top .l2{
    background-color: var(--text-sub-color);
}

#chart {
    width: 111%;
    height: 20rem;
    margin-left: -5.6%;
    margin-top: 1rem;
}

.tools {
    display: flex;
    justify-content: space-between;
}

.tools div{
    width: 1.3rem;
    margin-left: 1rem;
}

.mark {
    width: 100%;
    display: flex;
    color: var(--text-sub-color);
    font-size: var(--text-3-font-size);
    font-weight: 400;
    justify-content: center;
    margin-top: var(--margin_bottom_2);
}

#name {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}