.pop_up_index {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 100%;
}
.pop_up_index h1{
    color: var(--text-color);
    font-size: var(--heading-2-font-size);
}
.pop_up_index .top {
    display: flex;
}
.pop_up_index .legends {
    display: flex;
    margin: 1rem 0;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.pop_up_index .legends .legend{
    display: flex;
    background-color: var(--background-sub-color);
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 0.5rem;
    overflow: hidden;
    min-width: 20%;
    margin-right: 1rem;
}
.pop_up_index .legends .legend p{
    margin: 0px;
    font-size: var(--text-2-font-size);
    color: var(--text-color);
    font-weight: 600;
}
.pop_up_index .legends .top{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}
.pop_up_index .legends .top div{
    width: 0.3rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    background-color: var(--chart-color-1);
}
.pop_up_index .legends .top p{
    font-size: var(--text-2-font-size);
    margin-left: 0.5rem;
    font-weight: 400;
}
.pop_up_index .chart {
    width: 100%;
    height: 60%;
}
.pop_up_index .chart2 {
    width: 100%;
    height: 15rem;
}
.legend.active .top div{
    background-color: var(--background-sub-color);
}
.pop_up_index .legends .top .l1{
    width: 0.3rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    background-color: var(--chart-color-1);
}
.pop_up_index .legends .top .l2{
    width: 0.3rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    background-color: var(--chart-color-2);
}
.pop_up_index .legends .top .l3{
    width: 0.3rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    background-color: var(--chart-color-3);
}
.pop_up_index .legends .top .l4{
    width: 0.3rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    background-color: var(--chart-color-4);
}
.pop_up_index .legends .top .l5{
    width: 0.3rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    background-color: var(--chart-color-5);
}
.legend.active .top .l1{
    background-color: var(--text-sub-color);
}
.legend.active .top .l2{
    background-color: var(--text-sub-color);
}
.legend.active .top .l3{
    background-color: var(--text-sub-color);
}
.legend.active .top .l4{
    background-color: var(--text-sub-color);
}
.legend.active .top .l5{
    background-color: var(--text-sub-color);
}

.legend.active{
    color:var(--text-sub-color)
}

