._top svg{
    fill: var(--text-color);
}

._top {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: var(--background-color-glass);
    z-index: 888;
    user-select: none;
    backdrop-filter: blur(1rem);
}

.title {
    display: flex;
    width: 90%;
    padding: 0 5%;
    justify-content: space-between;
    margin-top: 1.5rem;
    align-items: flex-end;
}

.title p{
    font-size: var(--heading-2-font-size);
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 1%;
    margin-left: var(--margin_bottom_3)
}

.selection-indicator {  
    position: absolute;
    bottom: 3px;
    height: 3px;
    background-color: var(--text-color);
    width: 0;
    transition: width 0.3s ease-out, left 0.3s ease-out, filter 0.3s ease-out;
    z-index: 1;
    border-radius: var(--border-radius-2);
    filter: blur(0);
}

.nav {
    position: relative;
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0px;
    margin-bottom: 0rem;
    overflow-x: auto;
    white-space: nowrap;
    height: 1.8rem;
}

.nav p {
    position: relative;
    color: var(--text-sub-color);
    font-size: var(--text-1-font-size);
    margin: 0;
    transition: color 0.3s ease;
    margin-right: var(--margin_bottom_3);
}

.nav p[data-active="true"] {
    color: var(--text-color) ;
}

.nav p:last-child {
    margin-right: 0;
}

.nav_header {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tools svg {
    margin-left: var(--margin_bottom_3);
}

.container {
    margin-top: 9rem; 
}

.loading_anim {
    display: flex;
    justify-content: center;
}

.loading {
    opacity: 1;
    height: auto;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.loading.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.tips {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.tips p{
    color: var(--text-sub-color);
    font-size: var(--text-2-font-size);
    margin: 1;
    margin-bottom: var(--margin_bottom_5);
}

.item {
    width: 100%;
    border-bottom: 2px solid var(--background-sub-color);
}

.item_header {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--margin_bottom_4);
}

.rank_name {
    display: flex;
    width: 93%;
    align-items: center;
}

.item_header p{
    color: var(--text-color);
    font-size: var(--text-1_5-font-size);
    margin: 0;
    font-weight: 600;
}

.item_header a{
    color: var(--text-sub-color);
    font-size: var(--text-2-font-size);
    font-weight: 600;
    margin-right: var(--margin_bottom_3);
}

.item_header a[data-active="top"]{
    color: var(--chart-color-3);
}

.item_header svg{
    fill : var(--text-sub-color);
    width: var(--text-1-font-size);
    margin-top: 5%;
    transition: transform 0.3s ease-out;
}

.item_datas {
    width: 90%;
    margin: var(--margin_bottom_4) 0;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_datas p{
    font-size: var(--text-1-font-size);
    color: var(--text-color);
    margin: 0;
    font-weight: 600;
}

.item_datas value{
    font-size: var(--text-1-font-size);
    color: var(--text-color);
    margin: 0;
    font-weight: 600;
}

.item_datas float{
    font-size: var(--text-1_5-font-size);
    background-color: var(--text-sub-color);
    color: var(--text-dark-color);
    margin: 0;
    display: flex;
    min-width: 3.5rem;
    font-weight: 600;
    padding: 1% 1.5%;
    border-radius: var(--border-radius-2);
    justify-content: center;
}

.item_datas float[data-active="up"]{
    background-color: var(--up-color);
}

.item_datas float[data-active="down"]{
    background-color: var(--down-color);
}

.item_datas up{
    font-size: var(--text-3-font-size);
    color: var(--up-color);
}

.item_datas down{
    font-size: var(--text-3-font-size);
    color: var(--down-color);
}

.item_datas a{
    color: var(--text-sub-color);
    font-size: var(--text-2-font-size);
}

.loading_anim {
    display: flex;
    justify-content: center;
}

.mark {
    width: 100%;
    display: flex;
    color: var(--text-sub-color);
    font-size: var(--text-3-font-size);
    font-weight: 400;
    justify-content: center;
    margin-top: var(--margin_bottom_2);
}

.item_infos {
    display: flex;
    width: 90%;
    margin-left: 5%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.side_pop {
    position: fixed;
    top: 0;
    width: 100vw;
    transition: right 0.3s ease-out;
    height: 100vh;
    background-color: var(--background-color-frosted-glass);
    backdrop-filter: blur(1rem);
    z-index: 900;
    right: -100%;
}

.pop_bar {
    position: fixed;
    width: 100%;
    background-color: var(--background-color-glass);
    backdrop-filter: blur(1rem);
    z-index: 999;
}

.pop_bar_top {
    margin-top: var(--margin_bottom_2);
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop_bar_top svg{
    fill: var(--text-color);
    width: var(--heading-1-font-size);
}

.pop_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop_header p {
    font-size: var(--heading-2-font-size);
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 1%;
    margin-left: var(--margin_bottom_3);
}

.pop_tool svg{
    margin-left: var(--margin_bottom_3);
}

.pop_container {
    margin-top: calc(7rem - var(--margin_bottom_2) + 1rem); 
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: calc(100vh - 7rem + var(--margin_bottom_2) - 5rem);
    overflow: hidden;
    overflow-y: scroll;
}

.pop_heading p{
    margin: 0;
    color: var(--text-sub-color);
    font-size: var(--text-1_5-font-size);
    margin-bottom: var(--margin_bottom_4);
    margin-top: var(--margin_bottom_1_5);
}

._select {
    display: flex;
    flex-direction: column;
    position: relative;
}

._select > div:first-child {
    width: 100%;
    border-radius: var(--border-radius-1);
    background-color: var(--background-sub-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

._select > div:first-child p{
    color: var(--text-color);
    font-size: var(--text-1-font-size);
    font-weight: 600;
    margin: 0;
    margin: var(--margin_bottom_3) 0.8rem;
}

._select > div:first-child svg{
    fill: var(--text-color);
    width: var(--heading-2-font-size);
    margin-right: 0.8rem;
    margin-top: 5%;
}

._select > div:nth-child(2) {
    width: 100%;
    border-radius: var(--border-radius-1);
    position: absolute;
    top: calc(100% + var(--margin_bottom_4));
    z-index: 3;

    background-color: #1D1D1F;

    opacity: 0; /* 初始透明度为0 */
    transform: scale(0.95); /* 初始缩放为0 */
    display: none; /* 初始状态不显示 */
}

._select > div:nth-child(2) div{
    width: 100%;
    border-radius: var(--border-radius-1);
    background-color: var(--background-sub-color);
    max-height: 15rem;

    overflow: hidden;
    overflow-y: scroll;
    
    mask-image: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0.5) 0%,
        #262629 15%,
        #262629 85%,
        rgba(0, 0, 0, 0.5) 100%);
    /* 轮盘顶部和底部变为透明,使文本变淡,露出深底色,模拟遮罩效果,使效果高级 */

    -webkit-font-smoothing: antialiased;
    /* 优化字体渲染,修复mask-image导致的字体模糊 */
}

._select > div:nth-child(2) p{
    color: var(--text-color);
    font-size: var(--text-1-font-size);
    font-weight: 600;
    margin: 0;
    margin: var(--margin_bottom_3) 0.8rem;
}

.items_header {
    display: flex;
}
.items_header p{
    color: var(--text-color);
    font-size: var(--text-1-font-size);
    font-weight: 600;
    margin: var(--margin_bottom_3) 0;
    margin-top: 0;
}

.items_names {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    gap: var(--margin_bottom_3);
    margin-bottom: var(--margin_bottom_3);
}
._item {
    border-radius: var(--border-radius-2);
    display: flex;
    background-color: var(--background-sub-color);
    transition: background-color 0.3s ease;
}
._item[data-active="true"] {
    background-color: var(--text-sub-color);
}
._item p{
    color: var(--text-sub-color);
    font-size: var(--text-1-font-size);
    font-weight: 600;
    margin: var(--margin_bottom_4) 0.5rem;
    z-index: 1;
    transition: color 0.3s ease;
}
._item[data-active="true"] p{
    color: var(--text-color);
}


.pop_bar_sub {
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0px;
    margin-bottom: 0rem;
    overflow-x: auto;
    white-space: nowrap;
    height: 1.8rem;
}

.pop_bar_sub p {
    color: var(--text-sub-color);
    font-size: var(--text-1-font-size);
    margin: 0;
    transition: color 0.3s ease;
    margin-right: var(--margin_bottom_2);
}

.pop_menu {
    width: 90%;
    left: 5%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.pop_menu p{
    color: var(--text-color);
    font-size: var(--text-1-font-size);
    margin: var(--margin_bottom_2) 0;
    font-weight: 600;
    transition: color 0.3s ease;
}

.pop_menu p:active{
    color: var(--text-sub-color);
}