.nav {
    top: 0px;
    left: 0px;
    position: fixed;
    min-height: 10%;
    width: 90%;
    background: #F5F5F7;
    z-index: 100;
    padding: 0 5%;
}

.nav_top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 1%;
}

.nav_top_bar div{
    display: flex;
    align-items: center;
}

.nav_top_bar p{
    font-size: 18px;
    color: rgba(29, 29, 31);
    font-weight: 600;
    margin: 0;
}

.nav_menu {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1%;
    margin-left: 2.5%;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 0.5rem;
}

.nav_menu p{
    font-size: 15px;
    color: rgba(29, 29, 31, 0.45);
    font-weight: 600;
    margin: 0;
    margin-right: 10%;
}

.item_data{
    display: flex;
    flex-direction: column;
}

.item_data p{
    margin: 0px;
    color: rgba(29, 29, 31);
    font-size: 15px;
    font-weight: 600;
}
.item_data a{
    margin : 0px;
    color : rgba(29, 29, 31, 0.45);
    font-size : 12px
}

.item_infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8%;
}

.item_name p{
    margin : 0px;
    color : rgba(29, 29, 31);
    font-size : 13px;
    font-weight : 600;
}

.item_datas {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.data_float p{
    margin: 4px auto;
    color: #F5F5F7;
    font-size: 13px;
    font-weight: 600;
}


.data_float {
    width: 21%;
    border-radius:  5px;
    display: flex;
}

.item {
    margin : 1rem 0;
    width : 100%
}

.container {
    min-height: 100vh;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 15%;
    display: flex;
    z-index: 1;
    flex-direction: column;
}

.rank {
    width: 90%;
    margin: 0 5%;
}

.rk_num {
    font-size : 18px;
    margin : 0px;
    margin-right : 5px;
    font-weight : 1000;
    color : rgba(29, 29, 31);
}


.rk_c {
    display: flex;
    align-items: center;
}