.input {
    top: 1.8rem;
    width: 100%;
    padding: 0 5%;
    display: flex;
    position: fixed;
    background-color :var(--background-color);
}

.input label{
    width: 75%;
    color: var(--text-sub-color);
}

.input svg{
    fill: var(--text-sub-color);
}

.input input{
    padding-left: 7%;
    font-size: var(--heading-2-font-size);
    font-weight: 600;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    color: var(--text-color);
}

.result {
    min-height: 3rem;
    width: 90%;
    margin: 0 5%;
    margin-top: 20%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
}


.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0px var(--margin_bottom_2) 0px;
}

.item p{
    margin : 0;
}

.title {
    margin: 0;
    font-size: var(--text-1-font-size);
    color: var(--text-sub-color);
    margin-top : 7%;
}

.infos {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.infos h1{
    font-size: var(--text-1-font-size);
    color: var(--text-color);
    font-weight : 600;
    margin : 0px;
}

.infos abbr{
    background-color: var(--chart-color-1);
    color : var(--text-color);
}

.data {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.data p{
    font-size: var(--text-2-font-size);
    color: var(--text-color);
}

#go {
    fill: var(--text-sub-color);
}