.ru_input {
    width: 100%;
    position: relative;
    background-color: var(--ru-item-background-color);
    border-radius: var(--ru-border-radius-sm);
    height: calc(var(--ru-spacing-xl) + 2 * var(--ru-spacing-xs));
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease,height 0.3s ease;
}

.ru_input input {
    outline: none;
    background-color: var(--ru-item-background-color);
    border: 0px;
    color: var(--ru-text-color);
    border-radius: var(--ru-border-radius-sm);
    height: var(--ru-spacing-lg);
    width: 90%;
    margin: 0px;
    margin-left: 5%;
    padding: 0px;
    font-size: var(--ru-font-size-body);
    font-weight: 600;
}

.ru_input label {
    position: absolute;
    top: 47.5%;
    left: 5%;
    transform: translateY(-50%);
    font-size: var(--ru-font-size-body);
    transition: all 0.3s ease;
    color: var(--ru-text-color);

    font-weight: 600;

    user-select: none; /* 不允许被选择 */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE和Edge */
}

.ru_input b {
    color: var(--ru-alert-color);
}

.ru_input[focus="true"] label {
    top: var(--ru-spacing-md);
    left: 5%;
    font-size: var(--ru-font-size-small-body);
    color: var(--ru-sub-text-color);
    font-weight: normal;
}

.ru_input[hintable="true"] label {
    display: block;
}
.ru_input[hintable="false"] label {
    display: none;
}

.ru_input[focus="true"][hintable="true"] input {
    height: var(--ru-spacing-lg);
    margin-bottom: var(--ru-spacing-xs);
}

.ru_input[hintable="false"]{
    height: var(--ru-spacing-xl);
    align-items : center;
}

.ru_input[alert="true"]{
    box-shadow: 0 0 10px var(--ru-alert-color);
}


