.load {
    height : 100%;
    width : 75%;
    margin : 0px 12.5%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left p{
    font-size: 3.6rem;
    margin: 0;
    font-weight: 600;
}

.right div{
    width: 7.5rem;
    display: flex;
    justify-content: center;
    color: rgba(29, 29, 31);
}

.right p {
    margin: .5rem 1.5rem;
    color: rgba(29, 29, 31);
    font-weight: 600;
    font-size: 1.5rem;
}

.right b{
    color: #00A943;
}

#animation_loading {
    height: 3rem;
    width: 3rem;
    margin-top: 3.5rem;
    filter: hue-rotate(15.09202453987728deg);
    filter: brightness(0.4) saturate(60%);
    opacity: 0;
}