.load_animation {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
}

.load_animation p{
    color : var(--text-color);
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: calc(var(--margin_bottom_1)*2);
    transition: color 0.3s ease;
}

.load_animation img{
    width: 50%;
    margin-bottom: calc(var(--margin_bottom_1)*2);
    filter: var(--color-reverse-none);
    transition: filter 0.3s ease;
}