._top svg{
    fill: var(--text-color);
}

._top {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: var(--background-color);
    z-index: 888;
    user-select: none;
}

.title {
    display: flex;
    width: 90%;
    padding: 0 5%;
    justify-content: space-between;
    margin-top: 1.5rem;
    align-items: flex-end;
}

.title p{
    font-size: var(--heading-2-font-size);
    font-weight: 600;
    color: var(--text-color);
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    margin: 0;
    margin-bottom: 1%;
}

.nav {
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0px;
    margin-bottom: 0.5rem;
}

.nav p{
    color: var(--text-sub-color);
    font-size: var(--text-1-font-size);
    margin: 0;
    transition: color 0.3s ease;
}
.nav p[data-active="true"]{
    color: var(--text-color);
}

#name {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.container {
    margin-top: 7rem; 
}

.mark {
    width: 100%;
    display: flex;
    color: var(--text-sub-color);
    font-size: var(--text-3-font-size);
    font-weight: 400;
    justify-content: center;
    margin-top: var(--margin_bottom_2);
}

.tools {
    display: flex;
    justify-content: space-between;
}

.tools div{
    width: 1.3rem;
    margin-left: 1rem;
}

.loading_anim {
    display: flex;
    justify-content: center;

}

.loading {
    opacity: 1;
    height: auto;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.loading.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.horizontal_infos_list {
    display: flex;
    width: 90%;
    margin-left : 5%;
    margin-bottom: var(--margin_bottom_3);
}

.infos {
    background-color: var(--background-sub-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--border-radius-1);
    scroll-snap-align: start;
    flex-shrink: 0;
}

.info_heading {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: var(--margin_bottom_3);
    margin-left: 5%;
}

.info_heading p{
    margin: 0;
    color: var(--text-color);
    font-size: var(--heading-2-font-size);
    font-weight: 600;
}

.info_indexs {
    display: flex;
    max-width: 33%;
    align-items: center;
    justify-content: space-between;
}

.info_indexs div{
    background-color: var(--text-sub-color);
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 0.5rem;
    margin-right: 0.3rem;
    transition: background-color 0.3s ease;
}

.info_indexs .index{
    background-color: var(--text-color);
}

.info_heading svg{
    fill: var(--text-sub-color);
    transition: fill 0.3s ease;
}

.info {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.info p{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--text-1-font-size);
    margin: 0;
    margin-bottom: 0.3rem;
}

.info up{
    color: var(--up-color);
}

.info down{
    color: var(--down-color);
}

.info up_s{
    color: var(--up-color);
    font-size: var(--text-2-font-size);
    font-weight: 400;
}

.info down_s{
    color: var(--down-color);
    font-size: var(--text-2-font-size);
    font-weight: 400;
}

.info a{
    display: flex;
    color: var(--text-sub-color);
    font-size: var(--text-2-font-size);
    margin: 0;
    align-items: center;
}

.info b{
    color: var(--text-color);
    font-size: var(--text-3-font-size);
    font-weight: 400;
    background-color: var(--chart-color-1);
    padding: 0rem 0.1rem;
    border-radius: 0.2rem;
    margin-left: 0.1rem;
}

.info c{
    color: var(--text-sub-color);
    font-size: var(--text-3-font-size);
    font-weight: 400;
    margin-right: 0.1rem;
}

._chart_container {
    width: 90%;
    margin: 0 5%;
    margin-bottom: var(--margin_bottom_2);
}

._chart {
    width: 111%;
    height: 15rem;
    margin-left: -5.3%;
}


.items_datas {
    display: grid;
    width: 90%;
    margin-left: 5%;
    margin-bottom: var(--margin_bottom_3);
    grid-template-columns: repeat(3, 1fr);
    gap: 0 5%;
}

.item_datas {
    background-color: var(--background-sub-color);
    border-radius: 0.5rem;
    margin-bottom: var(--margin_bottom_3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_datas p{
    color: var(--text-sub-color);
    margin: 0;
    font-size: var(--text-2-font-size);
    margin-top : var(--margin_bottom_4);
    margin-bottom : var(--margin_bottom_5);
}

.item_datas a{
    color: var(--text-color);
    margin: 0;
    font-weight: 600;
    font-size: var(--text-1-font-size);
    margin-bottom : var(--margin_bottom_5);
}

.item_datas b{
    color: var(--text-sub-color);
    margin: 0;
    font-weight: 400;
    font-size: var(--text-2-font-size);
    margin-bottom : var(--margin_bottom_5);
}

.item_datas up{
    color: var(--up-color);
}

.item_datas down{
    color: var(--down-color);
}

.item_datas div{
    width: 90%;
    margin : 0 5%;
    height: 3rem;
    margin-bottom : var(--margin_bottom_4);
}

