.ru_button {
    height: var(--ru-spacing-xl);
    width: auto;
    background-color: var(--ru-item-background-color);
    display: flex;
    border-radius: var(--ru-border-radius-sm);
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    transition: all 0.3s ease;
}

.ru_button label{
    font-size: var(--ru-font-size-body);
    color: var(--ru-text-color);

    font-weight: 600;

    margin: 0;

    transition: all 0.3s ease;

    user-select: none; /* 不允许被选择 */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE和Edge */
}

.ru_button span{
    position: absolute;
    border-radius: 50%;
    background: var(--ru-shadow-color);
    transform: scale(0);
    animation: ru_button_ripple 0.6s linear;
    pointer-events: none;
}

@keyframes ru_button_ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.ru_button[long_touched="true"] {
    box-shadow: 0 0 10px var(--ru-shadow-color);
}